<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kumar+One+Outline" rel="stylesheet">
<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="title">Play SAGE!!</mat-card-title>
            <mat-divider></mat-divider>
                    <mat-card class="play" id="createCard">
                        <mat-card-content *ngFor="let sage of this.showSages()">
                                <mat-card>
                                    <mat-card-title>Word: {{ sage.word }}</mat-card-title>
                                        <mat-divider></mat-divider> <br><br>
                                        <mat-card-actions class="card-actions" id="home_buttons">
                                            <button id="hint" mat-raised-button color="primary" (click)="randomizeSages()">Hint</button>
                                            <button id="next" mat-raised-button color="primary" (click)="randomizeSages()">Next Card</button>
                                        </mat-card-actions>

                                </mat-card>
                        </mat-card-content>
                    </mat-card>
                <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
                <ng-template #cardsError>
                    <p>
                        There was a problem loading the cards. Possibly the server is down or perhaps there are network
                        issues.
                    </p>
                    <p>
                        Please wait a bit and try again or start the server.
                    </p>
                </ng-template>
        </mat-card>
    </div>
</div>

