<div layout-gt-sm="row">
    <div flex-gt-sm="90" flex-offset-gt-sm="15">
        <mat-card>
            <mat-card-title style="text-align:center;">Choose your Card!!</mat-card-title>
                <mat-list *ngIf="sages; else cardsError">
                    <mat-card class="play" id="createCard">
                        <mat-card-content *ngFor="let sage of this.showCards()">

                            <mat-list class="list-group-item">
                                <mat-list-item>
                                    Synonym: {{ sage.synonym }}
                                </mat-list-item>
                                <mat-list-item>
                                    Antonym: {{ sage.antonym }}
                                </mat-list-item>
                                <mat-list-item>
                                    General Sense: {{ sage.generalization }}<br>
                                </mat-list-item>
                                <mat-list-item>
                                    Example: {{ sage.example }}
                                </mat-list-item>

                                <div class="card-buttons">
                                    <button id="Hint" >Hint</button>
                                    <button id="Skip" >Skip</button>
                                </div>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </mat-list>

                <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
                <ng-template #cardsError>
                    <p>
                        There was a problem loading the cards. Possibly the server is down or perhaps there are network
                        issues.
                    </p>
                    <p>
                        Please wait a bit and try again or start the server.
                    </p>
                </ng-template>
        </mat-card>
    </div>
</div>

